<div class="animate fadeIn">
  <div
    class="bg-title relative"
    style="background-image: url('assets/img/default/slider/programacion.jpg')"
  >
    <h1><span class="title-gold">Desarrollador</span> Edwar Villavicencio</h1>

    <div class="cut-white-t-bottom"></div>
    <div class="cut-white-bottom"></div>
  </div>

  <div class="pt-5 pb-4">
    <div class="container2 cardProfile m-auto">
      <img src="assets/img/default/fundadores/Edwar.jpg" alt="" />
      <div class="containter-text">
        <div>
          <h2 class="m-0">Edwar Villavicencio</h2>
          <h5 class="text-gold m-0">
            Ingeniero de Sistemas y Programador Web (Backend-Frontend).
          </h5>
          
          <p class="text-justify mt-4">
            Diseñador y desarrollador de sistemas, con más de 7 años de
            experiencia en el área del frontend, backend y bases de datos.
            Trabajo aplicando las mejores prácticas de programación para
            desarrollos eficiente y eficaces, con el fin de facilitar la
            mantenibilidad e integración de nuevos módulos. Asumo con compromiso
            cada proyecto dado que es muy satisfactorio obtener resultados con
            altos estándares de calidad lo cual además contribuye con mi
            reputación profesional.
          </p>
        </div>
      </div>
    </div>

    <div class="container2 pt-5 pb-4">
      <h1 class="text-center title-gold mb-5">Tecnologías</h1>
      <!-- show lg -->
      <div class="row">
        <div class="col-12">
          <div class="technologies">
            <img src="assets\img\default\tecnologias\nodejs.jpg" alt="" />
            <img src="assets\img\default\tecnologias\nestjs.jpg" alt="" />
            <img src="assets\img\default\tecnologias\typescript.jpg" alt="" />
            <img src="assets\img\default\tecnologias\laravel.jpg" alt="" />
            <img src="assets\img\default\tecnologias\php.jpg" alt="" />

            <img src="assets\img\default\tecnologias\angular.jpg" alt="" />
            <img src="assets\img\default\tecnologias\vue.png" alt="" />
            <img src="assets\img\default\tecnologias\bootstrap.jpg" alt="" />
            <img src="assets\img\default\tecnologias\css.jpg" alt="" />
            <img src="assets\img\default\tecnologias\html.jpg" alt="" />
            <img src="assets\img\default\tecnologias\js.jpg" alt="" />
            <img src="assets\img\default\tecnologias\jquery.jpg" alt="" />
            <img src="assets\img\default\tecnologias\ajax.jpg" alt="" />
            <img src="assets\img\default\tecnologias\postgres.jpg" alt="" />
            <img src="assets\img\default\tecnologias\mysql.jpg" alt="" />
            <img src="assets\img\default\tecnologias\apache.jpg" alt="" />
            <img src="assets\img\default\tecnologias\git.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gold relative">
    <div class="cut-white-top"></div>
    <div class="cut-white-t-top"></div>
    <div class="cut-white-t-bottom" style="z-index: 5"></div>
    <div class="cut-white-bottom" style="z-index: 5"></div>

    <app-last-works [worksOf]="'Edwar'" style="z-index: 5"></app-last-works>
  </div>

  <div class="pt-5 pb-5 container2">
    <h1 class="text-center title-gold mb-5">
      Metodologías y/o módulos desarrollados
    </h1>

    <div class="row">
      <div class="col-lg-6">
        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Sistemas de facturación y/o
          inventario.
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Chats y mensajería en
          tiempo real.
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Notificaciones en tiempo
          real dentro de la aplicación o a servicios de terceros.
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Agendas programadas
          (notificaciones, correos, reservas).
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Integración con plataformas
          de pago (MercadoPago, PayPal, Stripe, etc.).
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Consumo de APIs de terceros
          (WhatsApp, consultas de identificación, información de países y
          ciudades, clima, etc.).
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Geolocalización y
          visualización en Google Maps.
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Optimización y carga de
          archivos, tanto localmente como en la nube (AWS, MinIO, etc.).
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Procesos en segundo plano
          mediante colas para mejorar el rendimiento.
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Optimización de bases de
          datos y consultas SQL.
        </p>
        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Uso de componentes
          reutilizables.
        </p>
      </div>

      <div class="col-lg-6">
        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Almacenamiento en caché
          para mejorar el rendimiento de consultas.
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Desnormalización de bases
          de datos para optimizar consultas en aplicaciones con grandes
          volúmenes de datos.
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Uso de WebHooks para
          recibir notificaciones de APIs externas.
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Aplicaciones con capacidad
          para generar documentos personalizados (logos, textos, datos fiscales,
          tablas, etc.), permitiendo su impresión o descarga en PDF y CSV.
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Gestión de datos eficiente.
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Módulos para la generación
          de reportes de ventas, compras, impuestos, ganancias, etc.
        </p>
        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Envío automatizado de
          correos electrónicos.
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i>Visualización de datos
          mediante gráficos estadísticos sobre ventas, compras, impuestos,
          tendencias, entre otros.
        </p>

        <p>
          <i class="fas fa-check mr-1 text-gold"></i> Sistemas con un diseño estético y original.
        </p>

        <p><i class="fas fa-check mr-1 text-gold"></i> Y más...</p>
      </div>
    </div>
  </div>
</div>
